{:tasks
 {switch  {:doc "Applies changes to the system right now"
           :requires ([babashka.process :as p])
           :task (if (= (System/getProperty "os.name") "Linux")
                   (run! p/check
                         (p/pipeline
                          (p/pb {:in :inherit  :err :out}
                                "sudo nixos-rebuild switch --flake . --log-format internal-json -v")
                          (p/pb {:out :inherit :err :inherit}
                                "nom --json")))
                   (p/shell "darwin-rebuild switch --flake ."))
           }

  update  {:doc "Update flake dependencies"
           :task (shell "nix flake update")}

  vm-build (shell "nix build .#nixosConfigurations.live.config.system.build.vm")
                                        ;
  }}
