set timeout=10
set default=0

insmod regexp
insmod exfat

search --file --set=storage /isos

function iso_entry {
    set isofile="$1"
    regexp --set=isoname '(.*)/([^/]+)\.iso' "$isofile"

    menuentry "$isoname" "$isofile" {
        set isofile="$2"
        loopback loop "$isofile"

        if [ -e (loop)/casper/vmlinuz ]; then
            linux (loop)/casper/vmlinuz boot=casper iso-scan/filename=$isofile quiet splash ---
            initrd (loop)/casper/initrd
        elif [ -e (loop)/images/pxeboot/vmlinuz ]; then
            linux (loop)/images/pxeboot/vmlinuz iso
            initrd (loop)/images/pxeboot/initrd.img
        else
            echo "Unsupported ISO layout"
            sleep 3
        fi
    }
}

for isofile in ($storage)/isos/*.iso; do
    iso_entry $isofile
done
